<section class="section-title registration">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <h1>Login</h1><br>
        <% if alert %>
            <div class="alert alert-danger" role="alert"><small class="helper-block"><%= alert %></small></div>
        <% end %>
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-inputs">
              <%= f.input :email, required: false, autofocus: true %>
              <%= f.input :password, required: false %>
              <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
            </div>
            <%= render "users/shared/links" %>

            <div class="form-actions">
              <%= f.button :submit, "Logar" %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
