<%= simple_form_for [:restrict, @proposal] do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :category, as: :select, collection: ['Reportagem de TV', 'Jornalismo impresso / Texto', 'Jornalismo impresso / Imagem', 'Radiojornalismo', 'Webjornalismo (Texto, imagem, vídeo)', 'Reportagem cinematográfica', 'Estudante', 'Categoria Especial do Bicentenário de Alagoas'], prompt: "Selecione a categoria..." %>
      <%= f.input :title%>
      <%= f.input :vehicle%>
      <%= f.input :publication_date%>
      <%= f.input :name_member_1%>
      <%= f.input :cpf_member_1%>
      <%= f.input :name_member_2%>
      <%= f.input :cpf_member_2%>
      <%= f.input :name_member_3%>
      <%= f.input :cpf_member_3%>
      <%= f.input :name_member_4%>
      <%= f.input :cpf_member_4%>
      <%= f.input :name_member_5%>
      <%= f.input :cpf_member_5%>
      <%= f.input :url%>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
<% end %>