<section class="section-title registration">
  <div class="container">
    <p id="notice"><%= notice %></p>
    <%= render 'panel_user' %>
    <h1>Publicações</h1>
    <br>
    <small>Submissões restantes: <%=  @remaining_submissions  %></small>
    <br>
    <br>
    <table class="table table-bordered table-hover table-striped">
      <thead>
      <tr>
        <th>Categoria</th>
        <th>Ações</th>
      </tr>
      </thead>
      <tbody>
      <% @proposals.each do |proposal| %>
          <tr>
            <td><%= proposal.category %></td>
            <td>
              <%= link_to '', restrict_proposal_path(proposal), class: 'fa fa-eye btn' %>
              <%= link_to '', restrict_proposal_path(proposal), method: :delete, data: { confirm: 'Tem certeza' }, class: 'fa fa-trash btn' %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <br>
    <%= link_to 'Nova proposta', new_restrict_proposal_path, class: 'btn btn-blue' if @still_remaining_submissions %>
  </div>
</section>