<section class="section-title registration">
  <div class="container">
    <%= render 'panel_user' %>
    <p id="notice"><%= notice %></p>
    <p>
      <strong>Categoria:</strong>
      <%= @proposal.category %>
    </p>

    <p>
      <strong>Arquivo:</strong>
      <a href="<%= @proposal.archive.url %>" target="_blank"><%= @proposal.archive_file_name %></a>
    </p>
  </div>
</section>