<% if !(notice==nil) %>
    <script>
        toastr.success('<%= notice %>', 'Mensagem', { closeButton: true, progressBar: true});
    </script>
<% end %>
<% if alert %>
    <script>
        toastr.error('<%= alert %>', 'Erro', { closeButton: true, progressBar: true});
    </script>
<% end %>
<section class="one-page-section section-blue" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="section-title">
          <h1 class="green">Informações</h1>
          <h3>Secretaria da ciência, Tecnologia e Inovação</h3>
          <p><i class="fa fa-map-marker normalize"> </i> <span>Rua Sá e Albuquerque, 384 - Jaraguá - Maceió-Alagoas CEP: 57022-180</span></p>
          <p><i class="fa fa-envelope normalize"> </i> <span>contato@premiojornalismocientifico.al.gov.br</span> </p>
          <p><i class="fa fa-phone normalize"> </i> (82)3315­1577 / (82)9 8833­4370 </p>
          <hr>
          <h3>Sindicato dos Jornalistas de Alagoas</h3>
          <p><i class="fa fa-map-marker normalize"> </i> <span>Rua Sargento Jaime, 370, Prado, CEP: 57010-200</span></p>
          <p><i class="fa fa-phone normalize"> </i> (82)3326­9168
          </p>
        </div>
      </div>
      <div class="col-md-2 hidden-sm hidden-xs">
        <img src="/images/barra-vertical.png" alt="" class="vertical-bar">
      </div>
      <div class="col-md-5">
        <div class="section-title">
          <h1 class="green">Contato</h1>
          <% contact = Contact.new %>
          <% if @contact %>
              <% contact.name = @contact[:name] %>
              <% contact.email = @contact[:email] %>
              <% contact.message = @contact[:message] %>
          <% end %>
          <%= simple_form_for(contact) do |f| %>
              <%= f.error_notification %>
              <div class="form-input">
                <%= f.input :name, label: 'Nome' %>
                <%= f.input :email, label: 'Email' %>
                <%= f.input :message, label: 'Mensagem' %>
              </div>
              <div class="form-action">
                <%= f.button :submit, class: "btn btn-white pull-right" %>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</section>
