<!--SECTION ABOUT-->
<%= render partial: 'public/section-about' %>
<!--END SECTION ABOUT-->

<div class="parallax parallax-transition"></div>

<!--SECTION CATEGORIES-->
<%= render partial: 'public/section-categories' %>
<!--END SECTION CATEGORIES-->

<div class="parallax parallax-transition"></div>

<!--SECTION AWARDS-->
<%= render partial: 'public/section-awards' %>
<!--END SECTION AWARDS-->

<div class="parallax parallax-transition"></div>

<!--SECTION WHO DOES-->
<%= render partial: 'public/section-who-does' %>
<!--END SECTION WHO DOES-->

<div class="parallax parallax-transition"></div>

<!--SECTION CONTACT-->
<%= render partial: 'public/section-contact' %>
<!--END SECTION CONTACT-->

