<!--SECTION ABOUT-->
<%= render partial: 'public/section_about' %>
<!--END SECTION ABOUT-->

<div class="parallax parallax-transition"></div>

<!--SECTION CATEGORIES-->
<%= render partial: 'public/section_categories' %>
<!--END SECTION CATEGORIES-->

<div class="parallax parallax-transition"></div>

<!--SECTION AWARDS-->
<%= render partial: 'public/section_awards' %>
<!--END SECTION AWARDS-->

<div class="parallax parallax-transition"></div>

<!--SECTION WHO DOES-->
<%= render partial: 'public/section_who_does' %>
<!--END SECTION WHO DOES-->

<div class="parallax parallax-transition"></div>

<!--SECTION CONTACT-->
<%= render partial: 'public/section_contact' %>
<!--END SECTION CONTACT-->

