<!--SECTION ABOUT-->
<%= render partial: 'public/section_about' %>
<!--END SECTION ABOUT-->

<div class="parallax parallax-transition-1" data-speed="6" data-type="background"></div>

<!--SECTION CATEGORIES-->
<%= render partial: 'public/section_categories' %>
<!--END SECTION CATEGORIES-->

<div class="parallax parallax-transition-2"></div>

<!--SECTION AWARDS-->
<%= render partial: 'public/section_awards' %>
<!--END SECTION AWARDS-->

<div class="parallax parallax-transition-3"></div>

<!--SECTION WHO DOES-->
<%= render partial: 'public/section_who_does' %>
<!--END SECTION WHO DOES-->

<div class="parallax parallax-transition-4"></div>

<!--SECTION CONTACT-->
<%= render partial: 'public/section_contact' %>
<!--END SECTION CONTACT-->

