
<section class="index-banner container-fluid">
  <!--<div class="banner-shadow">-->
    <!--<div class="banner-content">-->
      <!--<h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h1>-->
      <!--<p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad </p>-->
      <!--<br>-->
      <!--<br>-->
      <!--<a href="#" class="btn btn-banner">Inscreva-se</a>-->
    <!--</div>-->
  <!--</div>-->
  <div class="black-filter">

      <div class="filter-white">
        <img src="/images/logo-complete.svg" alt="" height="180vh">
      </div>
  </div>

</section>
<!--SECTION ABOUT-->
<%= render partial: 'public/section_about' %>
<!--END SECTION ABOUT-->

<!-- SECTION HONORED -->
<%= render partial: 'public/section_honored' %>
<!-- END HONORED -->

<!--SECTION CATEGORIES-->
<%= render partial: 'public/section_categories' %>
<!--END SECTION CATEGORIES-->

<!--SECTION AWARDS-->
<%= render partial: 'public/section_awards' %>
<!--END SECTION AWARDS-->


<!--SECTION WHO DOES-->
<%= render partial: 'public/section_who_does' %>
<!--END SECTION WHO DOES-->


<!--SECTION CONTACT-->
<%= render partial: 'public/section_contact' %>
<!--END SECTION CONTACT-->

