<!DOCTYPE html>
<html>
<head>
  <title>Prêmio de Jornalismo científico - José Marques de Melo - Secti - Alagoas</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <meta name="description" content="O Prêmio de jornalismo científico busca incentivar a produção jornalística de ciência e tecnologia em alagoas." />
  <meta name="keywords" content="prêmio, jornalismo, secti, ciência e tecnologia"/>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta name="theme-color" content="#ef4130">
  <link rel="icon" href="/images/favicon.png" type="image/x-icon">


  <!-- GOOGLE FONTS-->
  <link href="https://fonts.googleapis.com/css?family=Raleway:200,300,300i,400,400i,700,700i,900i" rel="stylesheet">


</head>
<body>


<%= render partial: 'layouts/nav' %>

<main id="content">
  <%= yield %>
</main>



<%= render partial: 'layouts/footer' %>
<!-- The Gallery as lightbox dialog, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
  <div class="slides"></div>
  <h3 class="title"></h3>
  <a class="prev">‹</a>
  <a class="next">›</a>
  <a class="close">×</a>
  <a class="play-pause"></a>
  <ol class="indicator"></ol>
</div>
<script src="//api.handtalk.me/plugin/latest/handtalk.min.js"></script>
<script>
    var ht = new HT({
        token: "c80995aadbe81ed67113f251a16e4bb9"
    });
</script>
</body>
</html>
