<section class="section-title registration">
  <div class="container">
    <h1>Inscreva-se</h1>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <div class="row">
            <div class="col-md-5">
              <%= f.input :name %>
            </div>
            <div class="col-md-7">
              <%= f.input :email %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <%= f.input :password %>
            </div>
            <div class="col-md-5">
              <%= f.input :adress %>
            </div>
            <div class="col-md-3">
              <%= f.input :user_type, as: :select, collection: ['Estudante', 'Jornalista'], prompt: "Selecione..." %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <%= f.input :mte %>
              <% if notice %>
                  <div class="alert" role="alert"><small class="helper-block"><%= notice %></small></div>
              <% end %>

            </div>
            <div class="col-md-3">
              <%= f.input :cpf, input_html:{ OnKeyPress: "mascara(this, mcpf);", maxlength: 14} %>
              <div id="cpf" class="alert alert-danger hidden" role="alert">
                <small class="cpf-helper"></small>
              </div>
            </div>
            <div class="col-md-3">
              <%= f.input :rg %>
            </div>
            <div class="col-md-3">
              <%= f.input :gender, as: :select, collection: ['Masculino', 'Feminino'], prompt: "Selecione..." %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <%= f.input :phone %>
            </div>
            <div class="col-md-4">
              <%= f.input :city %>
            </div>
            <div class="col-md-4">
              <%= f.input :state, as: :select, collection: ['Acre','Alagoas','Amapá','Amazonas','Bahia','Ceará','Distrito Federal','Espírito Santo','Goiás','Maranhão','Mato Grosso','Mato Grosso do Sul','Minas Gerais','Pará','Paraíba','Paraná','Pernambuco','Piauí','Rio de Janeiro','Rio Grande do Norte','Rio Grande do Sul','Rondônia','Roraima','Santa Catarina','São Paulo','Sergipe','Tocantins'], prompt: "Selecione..." %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <%= f.input :archive %>
            </div>
          </div>
        </div>
        <div class="form-actions">
          <%= f.button :submit, 'Registrar' %>
        </div>
    <% end %>
  </div>
</section>
<script src="/CPF.js"></script>
<script type="text/javascript" charset="utf-8">
    $('#user_cpf').keyup(function(){
        verifica_cpf_valido()
    });
    $('#user_user_type').change(function(){
        verifica_cpf()
    });

  function verifica_cpf_valido(){
      if (CPF.validate($('#user_cpf').val()) === true ) {
          $('#cpf').removeClass('hidden')
          $('#cpf').removeClass('alert-danger')
          $('#cpf').addClass('alert-success')
          $('.cpf-helper').html('CPF válido')
          $('input[type="submit"]').removeAttr('disabled');
          var cpf = CPF.format($('#user_cpf').val(), 'digits');
          verifica_cpf()
      }else{
          $('#cpf').removeClass('hidden')
          $('#cpf').addClass('alert-success')
          $('#cpf').addClass('alert-danger')
          $('.cpf-helper').html('CPF inválido')
          $('input[type="submit"]').attr('disabled','disabled');
      }
  }

        function verifica_cpf(){
            var cpf = CPF.format($('#user_cpf').val(), 'digits');
            if ($('#user_user_type').val()=='Jornalista'){
                $.ajax({
                    dataType: "json",
                    url: "/verify_journalist/"+cpf,
                    beforeSend: function( xhr ) {
                        xhr.overrideMimeType( "text/plain; charset=x-user-defined" );
                    }
                })
                        .fail(function(data){
                            $('#cpf').addClass('alert-danger')
                            $('.cpf-helper').html('Aconteceu um erro, procure o SindJornal para maiores informações');
                            $('input[type="submit"]').attr('disabled','disabled');
                        })
                        .done(function( data ) {
                            console.log(data)
                        });
            }else{
                if ($('#user_cpf').val()!="") {
                    $('#cpf').removeClass('hidden')
                    $('#cpf').removeClass('alert-danger')
                    $('#cpf').addClass('alert-success')
                    $('.cpf-helper').html('CPF válido')
                    $('input[type="submit"]').removeAttr('disabled');
                }
            }
        }
</script>